<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

   	<http create-session="stateless" use-expressions="true" entry-point-ref="customBasicAuthenticationEntryPoint"  >
		<intercept-url pattern="/**/test**" access="hasAnyRole('ROLE_USER')"  />		 		
		<access-denied-handler ref="customAccessDeniedHandler" />	
		<custom-filter before="FORM_LOGIN_FILTER" ref="customUsernamePasswordAuthenticationFilter"/>
		<custom-filter before="BASIC_AUTH_FILTER" ref="customBasicAuthenticationFilter"/>				 	
		<csrf disabled="true" />
	</http>

	<authentication-manager id="authenticationManager" >
	    <authentication-provider user-service-ref="customUserDetailsService" >
	    </authentication-provider>
	</authentication-manager>
	
	<beans:bean id="customUserDetailsService" 
                class="com.arct.parking.application.security.CustomUserDetailsService">		
	</beans:bean>
	
	<beans:bean id="customBasicAuthenticationEntryPoint" 
                class="com.arct.parking.application.security.CustomBasicAuthenticationEntryPoint">		
	</beans:bean>
	
	<beans:bean id="customAccessDeniedHandler" 
                class="com.arct.parking.application.security.CustomAccessDeniedHandler">		
	</beans:bean>
	
	<beans:bean id="customBasicAuthenticationFilter" 
                class="com.arct.parking.application.security.CustomBasicAuthenticationFilter">	
          <beans:constructor-arg index="0" ref="authenticationManager"></beans:constructor-arg>	
          <beans:constructor-arg index="1" ref="customBasicAuthenticationEntryPoint"></beans:constructor-arg>
	</beans:bean>
	
	<beans:bean id="customUsernamePasswordAuthenticationFilter"
				 class="com.arct.parking.application.security.CustomUsernamePasswordAuthenticationFilter">	
          <beans:constructor-arg index="0" ref="authenticationManager"></beans:constructor-arg>         
	</beans:bean>

</beans:beans>
