<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
    <!--  We ask spring to look at DAO package for looking for annotated pojos   -->
    <context:component-scan base-package="com.arct.parking.dao" />
	
	<bean id="bitacoraService" class="com.arct.parking.service.bitacora.impl.BitacoraServiceImpl">
		<property name="registroDAO" ref="registroDAO" > </property>
	</bean>
	
	<bean id="vehiculoService" class="com.arct.parking.service.vehiculo.impl.VehiculoServiceImpl">
		<property name="vehiculoDAO" ref="vehiculoDAO" > </property>
	</bean>
	
	<bean id="modeloService" class="com.arct.parking.service.modelo.impl.ModeloServiceImpl">
		<property name="modeloDAO" ref="modeloDAO" > </property>
	</bean>
	
	<bean id="marcaService" class="com.arct.parking.service.marca.impl.MarcaServiceImpl">
		<property name="marcaDAO" ref="marcaDAO" > </property>
	</bean>
	   
</beans>